@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Cabin";
  background-color: #758190;
}

#tentacles {
  width: 5rem;
}

.header {
  display: flex;
  background-color: lightblue;
  padding: 1rem;
  align-items: center;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

.stats-container {
  display: flex;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 5rem;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  width: 30rem;
  text-align: center;
  border-radius: 0.7rem;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 3rem lightblue;
}

#button-container {
  text-align: center;
}

#bg-info {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.7rem;
}

.stats-container {
  display: flex;
  align-items: center;
}

.stats-container:hover {
  cursor: pointer;
  box-shadow: 0 0 3rem lightblue;
}

@media (max-width: 970px) {
  html {
    font-size: 50%;
  }
  #tentacles {
    width: 4rem;
  }
  .game-card {
    width: 28rem;
  }
  #num-contributions,
  #total-raised,
  #num-games {
    font-size: 4rem;
  }
}

@media (max-width: 605px) {
  html {
    font-size: 40%;
  }
  #tentacles {
    width: 3rem;
  }
  .game-card {
    width: 20rem;
  }
  #num-contributions,
  #total-raised,
  #num-games {
    font-size: 3rem;
  }
  .header,
  .stats-card,
  button {
    padding: 0.5rem;
  }
  .game-card,
  .stats-card,
  button {
    margin: 0.5rem;
  }
}
